@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This API was written in .Net Core by Hung Vu to practice latest technologies of Web, Mobile, Front-End and Back-End Developement.</p>
