@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    U15 799 Burwood Road<br />
    Hawthorn East, VIC 3123<br />
    <abbr title="Phone">P:</abbr>
    0433426868
</address>

<address>
    <strong>Owner:</strong> <a href="mailto:hung.vu@itmb.com.au">hung.vu@itmb.com.au</a><br />
    
</address>
